@import './variables.less';

@buttonPaddingVertical: 0.5em;
@buttonPaddingHorizontal: @buttonPaddingVertical * 1.5;
@buttonGroupBaseButtonMargin: 5px;
@buttonIconMargin: @buttonPaddingHorizontal;
@buttonFontSize: 0.8em;
@buttonSmallFontSize: 0.45em;
@buttonMediumFontSize: 0.65em;
@buttonLargeFontSize: 1em;