@import './variables.less';

.z-container {
    padding: 0 @basePadding;
    width  : 100%;
    margin : 0 auto;

    @media only screen and (min-width: @computerBreakpoint) {
        max-width: @computerBreakpoint;
    }

    @media only screen and (min-width: @largeMonitorBreakpoint) {
        max-width: @largeMonitorBreakpoint;
    }
}